####################################
# PYTHON / BACKEND
####################################
__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
.env

####################################
# BACKEND RUNTIME DATA (NO VERSIONAR)
####################################
backend/storage/
backend/__pycache__/
logs/
*.log

####################################
# NODE / FRONTEND
####################################
frontend/node_modules/
frontend/dist/
frontend/.env

####################################
# BUILD / CACHE
####################################
.cache/
.parcel-cache/
.vite/

####################################
# IDE / OS
####################################
.vscode/
.idea/
.DS_Store
Thumbs.db
