@tailwind base;
@tailwind components;
@tailwind utilities;

/* si no usas tailwind: puedes usar estilos simples */
body {
  /* fallback si no usas tailwind */
  margin: 0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
